.profile__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 120px;
  margin: 0 20px;
}

.profile__navbar {
  width: 320px;
}

.profile__navbar li p {
  margin: 0;
  line-height: 64px;
}

.profile__link {
  color: #8585ad;
  cursor: pointer;
}

.profile__link_active {
  color: white;
}

.profile__wrap {
  margin-left: calc(1240px / 2 - 320px - 320px / 2);
}

.profile__text {
  opacity: 0.4;
}

.profile__buttons {
  text-align: right;
}
