.burgerConstructor {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-top: 100px;
}

.scrollWrapper {
    height: 464px;
    overflow-y: auto;
    overflow-x: hidden;
}

.top,
.bottom {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
}

.top  {
    margin-bottom: 16px;
}

.bottom  {
    margin-top: 16px;
}

.top div,
.bottom div {
    max-width: 536px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    width: 600px;
    padding: 0 16px;
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
}

.item div {
    max-width: 536px;
    margin-left: auto;
}

.cost {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.cost p:first-of-type {
    display: flex;
}

.cost svg {
    height: 33px;
    width: 33px;
}
