.burgerconstructor__column {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-top: 100px;
}

.burgerconstructor__scrollwrapper {
    height: 464px;
    overflow-y: auto;
    overflow-x: hidden;
}

.burgerconstructor__top,
.burgerconstructor__bottom {
    display: flex;
    justify-content: flex-end;
    min-height: 80px;
    padding: 0 16px;
}

.burgerconstructor__top  {
    margin-bottom: 16px;
}

.burgerconstructor__bottom  {
    margin-top: 16px;
}

.burgerconstructor__top div,
.burgerconstructor__bottom div {
    max-width: 536px;
}

.burgerconstructor__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    width: 600px;
    padding: 0 16px;
}

.burgerconstructor__item {
    display: flex;
    width: 100%;
    align-items: center;
}

.burgerconstructor__item div {
    max-width: 536px;
    margin-left: auto;
    min-height: 80px;
}

.burgerconstructor__item svg {
    cursor: pointer;
}

.burgerconstructor__cost {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}

.burgerconstructor__cost p:first-of-type {
    display: flex;
}

.burgerconstructor__cost svg {
    height: 33px;
    width: 33px;
}

.burgerconstructor__id {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.burgerconstructor__img {
    height: 120px;
    width: 120px;
}
