._column {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-top: 100px;
}

._scrollwrapper {
    height: 464px;
    overflow-y: auto;
    overflow-x: hidden;
}

._top,
._bottom {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
}

._top  {
    margin-bottom: 16px;
}

._bottom  {
    margin-top: 16px;
}

._top div,
._bottom div {
    max-width: 536px;
}

._list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    width: 600px;
    padding: 0 16px;
}

._item {
    display: flex;
    width: 100%;
    align-items: center;
}

._item div {
    max-width: 536px;
    margin-left: auto;
}

._cost {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}

._cost p:first-of-type {
    display: flex;
}

._cost svg {
    height: 33px;
    width: 33px;
}

._id {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

._img {
    height: 120px;
    width: 120px;
}
