.App .main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.App .main__section {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 0 auto;
    width: 1280px;
}
