.burgeringredients__column {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.burgeringredients__tabs {
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}

.burgeringredients__tabs div {
    flex-grow: 1;
}

.burgeringredients__scrollwrapper {
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.burgeringredients__wrap {
    height: auto;
    width: 600px;
}

.burgeringredients__ingredients {
    height: auto;
    width: auto;
}

.burgeringredients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px 24px;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.burgeringredients__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.burgeringredients__item:hover {
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.burgeringredients__item p:first-of-type {
    display: flex;
}

.burgeringredients__image {
    height: 240px;
    padding: 0 20px;
}

.burgeringredients__image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.burgeringredients__details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
