.appheader {
    margin: 0 auto;
    min-width: 1280px;
    max-width: 100%;
    background: #1C1C21;
    text-align: center;
}

.appheader__content {
    position: relative;
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    padding: 16px 0;
}

.appheader__logo {
    position: absolute;
    left: calc(50% - 145px);
    width: 290px;
    height: 50px;
}

.appheader__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
}

.appheader__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.appheader__link {
    display: flex;
    justify-content: flex-start;
    padding: 16px 20px;
    color: #8585ad;
    cursor: pointer;
}

.appheader__link svg {
    fill: #8585ad;
}

.appheader__link_active {
    color: white
}

.appheader__link_active svg {
    fill: white;

}
